.navbar {
  position: absolute;
  top: -12px;
  left: 0;
 right: 0;
 font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: 12px;
  font-size: 22px;
}
.nav-links {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 0.5em;
  margin-right: 70px;
  margin-left: 200px;
  justify-content: space-between;
  gap: 2rem;
  
}
.nav-link {
  color: black;
  text-decoration: none;
 margin-left: 25px;}
.nav-link:hover {
  color: #f4cb08;
  transform: scale(1.2);
  font-weight: 500;
}
.nav-link:hover {
  
  transform: scale(1.2);
  
}
.nav-link {
  display: inline-block;
  position: relative;
  transition: transform 0.3s;
}

.nav-link::after {
content: '';
width: 0;
height: 1.8px;
background-color:#f4cb08;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.4s;
border-radius: 20px;
}

.nav-link:hover::after {
  width: 100%;
}
.club-name {
  color: black;
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
}
.vertical-line {
  border-left: 2px solid #f4cb08;
  height: 75px;
  margin-right: 1em;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 65px;
  height: 65px;
  margin-right: 1em;
  margin-left: 50px;
}



.card {
    position: relative;
    width: 500px;
    height: 600px;
    color: #2e2d31;
    background: #e8e8e8;
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
    
  }
  .temporary_text img{
    width: 100%;
    height: 50%;
    border-radius: 20px;
  }
  
  .card_title {
    font-weight: bold;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(100px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .card:hover .card_content {
    transform: translateY(0);
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }
  .card1 {
    --primary-clr: #292929;
    --dot-clr: #BBC0FF;
    --play: f4cb08;
    width: 200px;
    height: 170px;
    border-radius: 10px;
 
   }
   
   .card1 {
    font-family: "Arial";
    color: #fff;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
   }
   
   .card1:hover .img-section {
    transform: translateY(1em);
   }
   
   .card-desc {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: -10px;
    display: grid;
    gap: 10px;
    background: var(--primary-clr);
   }
   
   .card-time {
    font-size: 1.7em;
    font-weight: 500;
   }
   
   .img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f4cb08;
   }
   
   .card-header {
    display: flex;
    align-items: center;
    width: 100%;
   }
   
   .card-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
   }
   
   .card-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
   }
   
   .card1 svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
   }
   
   .card1 .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
   }
   
   .card1 .recent {
    line-height: 0;
    font-size: 0.8em;
   }
  

   .card2 {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  }
  
  .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #f4cb08 0%, #f4cb08 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .icon svg {
    fill: white;
  }
  
  .card2 .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card2 .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card2:hover {
    height: 270px;
  }
  
  .card2:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  
  .card2:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .card2:hover .icon svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
  }
  




  .card3 {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color:#292929;
    padding: 1.5rem;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Poppins', sans-serif;

  }
  
  .price {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }
  
  .lists {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.75rem;
    row-gap: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 1);
  }
  
  .list {
    display: flex;
    align-items: center;
  }
  
  .list svg {
    height: 1rem;
    width: 1rem;
  }
  
  .list span {
    margin-left: 1rem;
  }
  
  .action {
    margin-top: 2rem;
    width: 85%;
    border: 2px solid  rgba(255, 255, 255, 1);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.625rem 1.5rem;
    font-weight: 600;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 1);
    outline: none;
    text-decoration: none;
    transition: all .2s ease;
  }
  
  .action:hover {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
  }
  body{
    padding: 8%;
    background-color: #e8e8e8;
    margin-top: 100px;
  }
  .one{
    display: flex;
    justify-content: center;
    justify-content: space-between 3%;
    gap: 3%;
  }
  .one .left1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .middle{
    padding: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
  }
  .text{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
   
  }
  .two{
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    margin-left: 8%;

  }
  .one .left{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 30px;
  }
  
  
  
  
  
  
  
  
  
